# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d1017941b6f3925abf9506f2dffd26caca7a105f76df4161526252dec21a19580e387795f9a8c9ade733a2bc86c2c7675280708b010d97e6c23b029dbad9f0de

test:
  secret_key_base: 8a94e6c9631bb0b5784cc3d85be31e0848423ea91275e5987581bc6ad81bef7559f3b455455fe98f01d8ddbdf0a0909b04ebd6450c773882057c5c17352c9113

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
